@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



.jumbotron {
    background-image:url('../img/jumbotron.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: -50px;
    height: 250px;
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        height: 150px;
    }
}

