@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



.comics-label{
    background-color: rgb(51, 112, 253);
    color: white;
    position : absolute;
    top : -60px;
    transform: translate(-20px);
    padding :10px 20px;
    text-transform: uppercase;
    font-weight: bold;
}